---
Language:                          Cpp
BasedOnStyle:                      LLVM
IndentCaseLabels:                  true
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth:           2
IndentWidth:                       2
SortIncludes:                      Never
...
