.direnv/
.gdb_history
test
*.out
*.so
*.o
*.gcno
*.gcda
reports/
tokenizer.c
parser.c
parser.h
.deps
*.xml
vgcore*
debug*
*.ll
*.bc
repl
build-aux
.tup
result
.struct.debug.c
perf.data*
main
.cache/
compile_commands.json
massif.out.*
dhat.*
bench.json
stacks.folded
flamegraph.svg
callgrind*
